@page
@using ProductStoreAPI
@model ProductStoreAPI.Pages.Login

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <script src="lib/jquery-validation/dist/jquery.validate.min.js"></script>
</head>
<body>
<div>
    <h1>Login</h1>
    <h4>@WebApiApp.AppName</h4>
    <form method="post">
        <p>
            <label>Username</label><br/>
            <input type="text" name="username" required="required"/>
        </p>
        <p>
            <label>Password</label><br/>
            <input type="password" name="password" required="required"/>
        </p>
        <input type="submit" value="Login"/>
    </form>
    @{ if (Request.Method == "POST")
        {
            <hr/>
            <h3 style="color: red;">@Model.LoginErrorMessage</h3>
        }}
</div>
</body>
</html>