@page
@using ProductStoreAPI
@model ProductStoreAPI.Pages.LoginPageModel

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<div>
    <h1>Register</h1>
    <h4>@WebApiApp.AppName</h4>
    <form method="post">
        <p>
            <label>Username</label><br/>
            <input type="text" name="username" required="required" minlength="8" maxlength="20"
                   aria-required="true"/>
        </p>
        <p>
            <label>Password</label><br/>
            <input type="password" name="password" required="required" minlength="8"
                   aria-required="true"/>
        </p>
        <p>
            <select itemtype="text" name="role" required="required">
                <option value="Customer">Customer</option>
                <option value="Worker">Worker</option>
                <option value="Admin">Admin</option>
            </select>
        </p>
        <input type="submit" value="Register"/>
    </form>
</div>
</body>
</html>